*{
    margin: 0;
    padding: 0;
}

nav {
    display: flex;
    justify-content: space-around;
    background-image: linear-gradient(to right, purple, rgb(32, 1, 42));
    color:blueviolet;
    padding: 10px 0;
}
.logo {
    color: white;
    font-size: 20px;
    font-family: "Plus Jakarta Sans", sans-serif;
}
nav ul {
    display: flex;
    gap: 17px;
    align-items: center;
}
nav ul li{ 
    list-style-type: none;
    font-size: 17px;
    font-family: "Roboto", sans-serif;
}
.heroin{
    background-image: linear-gradient(to right, rgb(175, 180, 229), rgb(163, 58, 189));
    background-color: rgb(175, 180, 229);
    height: 85vh;
    display: flex;
    justify-content: center;
    gap: 130px;
    align-items: center;
     font-family: "Roboto", sans-serif;
}
.heroin-left{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.heroin-left .one{
font-size: 68px;
color: rgb(33, 4, 76);
font-weight: bolder;
}
.heroin-left .two{
 font-size: 40px;   
}
.bold {
    font-weight : bold;
}
.heroin-right img{
    border-radius: 14px;
}

ul li a{
    color: white;
}
.button-container{
    padding: 9px 0;
}
.btn{
    background-color: rgb(59, 8, 132);
    color: white;
    padding: 9px 7px;
    margin: 0 2px;
    border: 2px solid purple;
    border-radius: 9px;
    cursor: pointer;
    font-size: 18px;
    font-weight: bolder ;
    transition: all 0.5s;
}

.btn:hover{
    background: rgb(59, 54, 200);
}

.project {
        display: flex;
        align-items: center;
        font-family: "Roboto", sans-serif;
        border-top: 2px solid  rgb(136, 165, 246. 25%);
        padding: 22px 100px;
        background-image: linear-gradient(to right, rgb(183, 148, 203), rgb(69, 45, 146));
    }
    .project-image img{
        width: 29.5vw;
        margin: 35;
        border-radius: 20px;
    }
    .project-info{
        display: flex;
        flex-direction: column;
        padding: 42px;
    }
    .project-info .text{
        font-size: 27px;
        padding: 10px 0;
        font-weight: bold;
        color: white;
    }
    .project-info p{
        padding: 12px 0;
        
    }

    .row-reverse{
        flex-direction: row-reverse ;
    }
    footer{
        background-color: black;
        color: white;
        text-align: center;
        padding: 12px 0;
        font-family: "Roboto", sans-serif;

    }

@media screen and (max-width: 950px) {
    nav {
        flex-direction: column;
        align-items: center;
        gap: 12px;
    }

    .hero {
        flex-direction: column-reverse;
        gap: 12px;
    }

    .hero-left {
        align-items: center;
    }

    .project {
        padding: 1px;
    }
}

@media screen and (max-width: 650px) {
    .hero-left .one {
        font-size: 40px;
        text-align: center;
    }

    .hero-left .two {
        font-size: 30px;
        text-align: center;
    }

    .project {
        flex-direction: column;
    }

    .project-image img {
        width: 80vw;
        margin: 15px 35px;
    }

    .project-info{
        padding: 15px 23px;
    }

}