*{
    margin: 0;
    padding: 0;
}

nav {
    display: flex;
    justify-content: space-around;
    background-image: linear-gradient(to right, purple, rgb(32, 1, 42));
    color:blueviolet;
    padding: 10px 0;
}
.logo {
    color: white;
    font-size: 20px;
    font-family: "Plus Jakarta Sans", sans-serif;
}
nav ul {
    display: flex;
    gap: 17px;
    align-items: center;
}
nav ul li{ 
    list-style-type: none;
    font-size: 17px;
    font-family: "Roboto", sans-serif;
}
.heroin{
    background-image: linear-gradient(to right, rgb(175, 180, 229), rgb(163, 58, 189));
    background-color: rgb(175, 180, 229);
    height: 85vh;
    display: flex;
    justify-content: center;
    gap: 130px;
    align-items: center;
     font-family: "Roboto", sans-serif;
}
.heroin-left .one{
font-size: 68px;
color: rgb(33, 4, 76);
font-weight: bolder;
}
.heroin-left .two{
 font-size: 40px;   
}
.bold {
    font-weight : bold;
}
.heroin-right img{
    border-radius: 14px;
}

ul li a{
    color: white;
}
.button-container{
    padding: 9px 0;
}
.btn{
    background-image: linear-gradient(to right, rgb(128, 128, 196), rgb(79, 79, 192));
    color: white;
    padding: 9px 7px;
    margin: 0 2px;
    border: 2px solid purple;
    border-radius: 9px;
    cursor: pointer;
    font-size: 18px;
    font-weight: bolder ;
}